body {
  font-family: "Lato", sans-serif;
}

#mystery-word {
  font-size: 4rem;
  display: flex;
  padding: 0;
}

#input-word {
  margin-top: 2rem;
  width: 60%;
  height: 4rem;
  font-size: 4rem;
  text-align: center;
  /* height: 100vh; */
}
