body {
  font-family: "Lato", sans-serif;
}

#about-btn {
  margin-bottom: 1.5rem;
}

#mystery-word {
  font-size: 4rem;
  display: flex;
  padding: 2rem 4rem 2rem 4rem;
  border: dotted black 0.3rem;
}

#input-word {
  margin-top: 2rem;
  width: 60%;
  height: 4rem;
  font-size: 4rem;
  text-align: center;
  /* height: 100vh; */
}
